* {
    margin: 0;
    padding: 0;

}
body {
    background-color: #DDD;

}
.accord {
    width: 805px;
    margin: auto;
    height: 320px;
    overflow: hidden;

}
.accord li {
    width: 160px;
    display: block;
    position: relative; 
    float: left;
    border-left: 1px solid #DDD;
    transition: all 0.5s;

}
.title {
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 640px;
}

.title a
{
    display: block;
    color: #fff;
    padding: 20px;
    font-size: 16px;
    text-decoration: none;

}
.accord ul:hover li 
{
    width: 40px;

}
.accord ul li:hover 
{
    width: 640px;
}